<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IAS - IOT Application Server</title>

    <!-- JavaScript Files -->
    <script type="text/javascript" src="{{ urlfor('static', filename='jquery/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ urlfor('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ urlfor('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>


<body>
{% include 'navbar.html' %}

</body>
</html>