<nav class="navbar navbar-fixed-top nopadding navbar-top">
     <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span>Irunika Lakmal</span> <img id="profile-pic" class="img-responsive"
                       src="{{ url_for('static', filename='images/profile-pic.png') }}"> <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>