{% extends 'index.html' %}

{% block content %}

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>

    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>Topic</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename='images/hanthana villa.jpg') }}"></div>
            <p>This is a dummy application given by us for testing</p>
            <a href="/applications/1" class="btn btn-sm btn-primary pull-right">Enroll Device</a>
        </div>
    </div>




{% endblock %}