{% extends 'index.html' %}

{% block content %}

    {% for app in appList %}
    <div class="app-div-lg col-md-3">
        <div class="col-md-12 app-div">
            <h2>{{ app.name }}</h2>
            <div style="height: 150px;"><img class="img-responsive" src="{{ url_for('static', filename=''+app.image) }}"></div>
            <p>{{ app.description }}</p>
            <a href="/applications/{{ app.appid }}" class="btn btn-primary">Enroll Device</a>
        </div>
    </div>
    {% endfor %}



{% endblock %}