{% extends 'index.html' %}

{% block content %}

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/profile-pic.png') }}">
        xnlkfnksldfnsdlkfndsklfnlk
    </div>

{% endblock %}