{% extends 'index.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <h1>{{ appDetails.name }}</h1>
            <h3>{{ appDetails.description }}</h3>
        </div>

        <div class="col-md-6">
            <img class="img-responsive" src="{{ url_for('static', filename=''+appDetails.image) }}">
        </div>
    </div>


    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Select Device : </label>
            <select class="form-control" id="exampleSelect1">
                {% for device in appDetails.deviceList %}
                <option>{{ device }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download-modal">
          Download <span class="glyphicon glyphicon-download"></span>
        </button>

    </form>

    <!--Modal which pop up to give name for the device-->
    <div class="modal fade" tabindex="-1" role="dialog" id="download-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Enter Name For Device</h4>
          </div>
          <div style="text-align: center" class="modal-body">

              <form class="form-horizontal" action="/appications/downloads" method="get">
                    <div class="form-group">
                        <input type="text" name="device-name" value="">
                    </div>
                        <input type="hidden" name="appid" value="{{ appDetails.appid }}">
                        <input type="hidden" name="app-name" value="{{ appDetails.name }}">

                    <button type="submit" class="btn btn-primary">Dwonload ZIP <span class="glyphicon glyphicon-download"></span></button>
              </form>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
</div>

{% endblock %}